#textdomain studio-lib

[window]
	app="studio"
	id="new_tpl_widget"
	[resolution]
		{GUI__COMMON_FLOAT_WIDGETS}
		click_dismiss=yes
		definition="default"
		[grid]
			[row]
				[column]
					border="all"
					border_size=5
					horizontal_alignment="left"
					[label]
						definition="default"
						id="title"
					[/label]
				[/column]
			[/row]
			[row]
				[column]
					[spacer]
						definition="default"
						width="(if(screen_width < 480, screen_width * 90 / 100, 432))"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[report]
						definition="default"
						horizontal_scrollbar_mode="never"
						id="options"
						toggle=yes
						unit_definition="text"
						unit_height="(0)"
						unit_width="(0)"
						width="(0)"
					[/report]
				[/column]
			[/row]
			[row]
				[column]
					border="bottom"
					border_size=8
					horizontal_alignment="edge"
					[label]
						definition="default"
						id="options_desc"
						mtwusc=yes
					[/label]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[label]
						definition="default"
						id="remark"
						mtwusc=yes
					[/label]
				[/column]
			[/row]
			[row]
				[column]
					border="top, bottom"
					border_size=4
					horizontal_alignment="edge"
					[text_box]
						definition="default"
						id="id"
					[/text_box]
				[/column]
			[/row]
			[row]
				[column]
					border="top, bottom"
					border_size=4
					horizontal_alignment="edge"
					[grid]
						[row]
							[column]
								border="right"
								border_size=8
								[label]
									definition="default"
									label=_"Belonging to app"
								[/label]
							[/column]
							[column]
								border="top, bottom"
								border_size=4
								grow_factor=1
								horizontal_alignment="edge"
								[report]
									definition="default"
									horizontal_scrollbar_mode="never"
									id="apps"
									toggle=yes
									unit_definition="text"
									unit_height="(0)"
									unit_width="(0)"
									width="(0)"
								[/report]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="edge"
					[label]
						definition="default"
						id="file_desc"
						mtwusc=yes
					[/label]
				[/column]
			[/row]
			[row]
				[column]
					[spacer]
						definition="default"
						height="(8)"
					[/spacer]
				[/column]
			[/row]
			[row]
				[column]
					horizontal_alignment="right"
					[grid]
						id="_ok_grid"
						[row]
							[column]
								border="all"
								border_size=5
								[button]
									definition="default"
									id="ok"
									label=_"Close"
								[/button]
							[/column]
							[column]
								[spacer]
									definition="default"
									width="(20)"
								[/spacer]
							[/column]
							[column]
								border="all"
								border_size=5
								[button]
									definition="default"
									id="cancel"
									label=_"Cancel"
								[/button]
							[/column]
						[/row]
					[/grid]
				[/column]
			[/row]
		[/grid]
	[/resolution]
[/window]
